<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {# Custom CSS#}
    <link rel="stylesheet" href="{% static 'css/two.css' %}">
  </head>
  <body class="yo">
    <div class="container">
      <div class="jumbotron">
        <h1>Here is your summary !</h1>
        <p></p>
        <p></p>
        <p></p>
        <p>
        </p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p> {{ insert_me }} </p>


      </div>

    </div>


  </body>
</html>
